version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6

    steps:
      - checkout
      - run:
          pip install pytest
          pytest test_calculations.py --junit-xml=test-results/pytest.xml
      - store_test_results:
          path: test-results
